<%= form_for :session, url: login_path do |f| %>
<table id="login">
  <tr>
    <td><%= f.label :username%></td>
    <td><%= f.text_field :username, class: "form-control"%></td>
  </tr>
  <tr>
    <td><%= f.label :password %></td>
    <td><%= f.password_field :password, class: "form-control"%></td>
  </tr>
  <tr>
    <td><%= f.submit "Log In", :class => "btn btn-success"%></td>
  </tr>
</table>
  
<% end %>